<h1>Update Your Project</h1>
<%= form_for @project do |f| %>

<label>Project Title: </label>
<%= f.text_field :title %>

<label>Project Description: </label>
<%= f.text_field :description %>

<%= f.submit %>
<% end %>